@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&family=Poppins:wght@300;400;600&display=swap');

:root {
  --bgColor: rgb(2,2,2);
  --primColor: #9910fb;
  --fontColor: #f2f2f2;
  --fontColorDark: rgb(157, 157, 157);

  --hFont: 'Fredoka', sans-serif;
  --font: 'Poppins';
  --font2: '';
}

body, html, p {
  margin: 0; padding: 0;
}

h1, h2, h3 {
  font-family: var(--hFont);
  color: var(--fontColor);
}

* {
  font-family: var(--font);
  color: var(--fontColor);
}

a:hover {
  color: var(--primColor);
  cursor: pointer;
}

body {
  height: 100%;
}

@media (min-width: 931px) {
  body {
    background: hsl(224, 31%, 12%);
  background-image: conic-gradient(
    from 0deg at 50% 50%,
    blue,
    purple,
    purple,
    blue
  );
  background-blend-mode: multiply;
  }
}
@media (max-width: 930px) {
  body {
    background-color: #000027;
  }
}


#para {
  opacity: 0;
  text-shadow: none;
  transition: all .9s ease;
  transition-delay: .2s;

}

