@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&family=Poppins:wght@300;400;600&display=swap');

:root {
  --bgColor: rgb(12, 12, 12);
  --primColor: rgb(143, 10, 143);
  --fontColor: #f2f2f2;
  --fontColorDark: rgb(157, 157, 157);

  --hFont: 'Fredoka', sans-serif;
  --font: 'Poppins';
  --font2: '';
}

body, html, p {
  margin: 0; padding: 0;
}

h1, h2, h3 {
  font-family: var(--hFont);
  color: var(--fontColor);
}

* {
  font-family: var(--font);
  color: var(--fontColor);
}

body {
  background-color: var(--bgColor);
}