.wrap {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
}
.main {
  display: flex;
  max-width: 1420px;
  gap: 40px;
  flex-wrap: wrap;
  margin: 0 45px;
  justify-content: center;

  /* align-items: center; */
}

@media (max-width: 970px) {
  .main {
    gap: 0;
  }
}

.left {
  flex: 1;
  flex-basis: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* transform: translateY(-20px); */
}
.right {
  flex: 1.5;
  flex-basis: 350px;
  /* background-color: red; */
}
@media (max-width: 749px) {
  .right {
    max-height: 50%;
  }
  .main {
    gap: 0;
  }
  .btnAlign {
    display: flex;
    justify-content: center;
  }
}

.btn {
  width: fit-content;
  background-color: purple;
  margin: 20px 0;
  padding: 15px 30px;
  border-radius: 1.5rem;
  cursor: pointer;

  display: flex;
  align-items: center;

  text-decoration: none;

  transition: all 0.2s ease;
}
.btn:hover {
  color: white;
}

.btn i {
  /* border: 1px solid red; */
  font-size: 1.9rem;
  padding-right: 13px;
}

.main p {
  font-size: 2rem;
}

/* RIGHT SIDE */

.svg {
  width: 100%;
  height: 90%;
  object-fit: contain;
}

.graphic {
  /* border: 1px solid red; */
  height: 500px;
  overflow: hidden;
}
.test {
  border: 5px solid green;
  transform: translateY(-100%);

  transition: all 0.4s ease-in-out;
}

.typeBox {
  position: relative;
  /* background-color: blue; */
}
.typing {
  position: absolute;
  white-space: nowrap;
  left: 36%;
  /* background-color: red; */
}

@media (max-width: 930px) {
  .btn *,
  .btn {
    text-shadow: 0 0 20px white;
  }
}
