.bigNav {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  box-sizing: border-box;
}
.links {
  display: flex;
  align-items: center;
}
.contactLink {
  text-decoration: none;
}
.contactLink:hover {
  color: var(--brightColor);
}
.link {
  margin: 0 40px;
  text-decoration: none;
  font-size: 1.4rem;
  cursor: pointer;
}
.link:hover {
  color: var(--brightColor);
}

.smallNav {
  display: none;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(128, 0, 128, 0.369);
  padding-bottom: 15px;
}
.smallNav h1 {
  margin-bottom: 15px;
}
.smallNav .link {
  /* color: purple; */
  color: var(--brightColor);
  /* color: var(--primColor); */
}
.gap {
  /* background-color: red; */
  height: 150px;
  text-align: center;
  padding: 30px;
  font-size: 1.4rem;
  color: var(--brightColor)
}




@media (max-width: 930px) {
  .bigNav {
    display: none;
  }
  .smallNav {
    display: flex;
  }
}
